<head th:replace="~{fragments/header-fragment.html :: head}">
<body>
<header class="navbar" th:replace="~{fragments/navigation-fragment.html :: navbar}"></header>

<main>
  <!--        <section class="filters">-->
  <!--            <button>Market Cap</button>-->
  <!--            <button>24h Volume</button>-->
  <!--            <button>24h Change</button>-->
  <!--            <button>Price</button>-->
  <!--            <button>Category</button>-->
  <!--            <button>Exchange</button>-->
  <!--            <button>Platform</button>-->
  <!--            <button class="search-btn">Search</button>-->
  <!--            <button class="reset-btn">Reset</button>-->
  <!--        </section>-->

  <section class="coins-table">
    <table>
      <thead>
      <tr>
        <th>#</th>
        <th>Coin</th>
        <th>Price</th>
        <th>24h Change (in $)</th>
        <th>24h Change (%)</th>
        <th>High 24h</th>
        <th>Low 24h</th>
        <th>Market Cap Rank</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="coin, iterStat : ${coins}">
        <td th:text="${iterStat.count}"></td>
        <td class="row">
          <img th:src="${coin.image}" alt="Coin Image" class="coin-icon">
          <span th:text="${coin.name}"></span>
        </td>
        <td th:text="${coin.currentPrice}"></td>
        <td th:text="${coin.priceChangeDayInCurrency}"></td>
        <td th:text="${coin.priceChangePercentageDayInCurrency} + '%'"></td>
        <td th:text="${coin.highDay}"></td>
        <td th:text="${coin.lowDay}"></td>
        <td th:text="${coin.marketCapRank}"></td>
      </tr>
      </tbody>
    </table>
  </section>

</main>

<footer>
  <p>&copy; 2024 Crypto Dashboard</p>
</footer>
</body>