<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="exchanges.css">
    <title>Торговые Площадки</title>
</head>
<body>
<header>
    <h1>Торговые Площадки</h1>
    <p>Информация о популярных обменах криптовалют.</p>
</header>

<main>
    <div class="filters">
        <button class="search-btn">Поиск</button>
        <button class="reset-btn">Сброс</button>
    </div>

    <div class="coins-table">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Exchange</th>
                <th>Year Established</th>
                <th>Trust Score</th>
                <th>24h Trading Volume (BTC)</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exchange : ${exchanges}">
                <td th:text="${iterStat.count}"></td>
                <td th:text="${exchange.name}"></td>
                <td th:text="${exchange.yearEstablished}"></td>
                <td th:text="${exchange.trustScore} + '/10'" class="green"></td>
                <td th:text="${exchange.tradeVolume24hBtc} + ' BTC'"></td>
                <td>
                    <a th:href="${exchange.url}" th:text="'Visit ' + ${exchange.name}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
