<head th:replace="~{fragments/header-fragment.html :: head}">
<body>
<header class="navbar" th:replace="~{fragments/navigation-fragment.html :: navbar}"></header>
<div th:replace="~{fragments/navigation-fragment.html :: widget}"></div>

<main>
    <div class="coins-table">
        <table>
            <thead>
            <tr>
                <th>#</th>
                <th>Exchange</th>
                <th>Year Established</th>
                <th>Trust Score</th>
                <th>24h Trading Volume (BTC)</th>
                <th>Link</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="exchange, iterStat : ${exchanges}">
                <td th:text="${iterStat.count}"></td>
                <td>
                    <img th:src="${exchange.image}" alt="Exchange Image" style="width: 24px; height: 24px;">
                    <span th:text="${exchange.name}"></span>
                </td>
                <td th:text="${exchange.yearEstablished}"></td>
                <td th:text="${exchange.trustScore} + '/10'" class="green"></td>
                <td th:text="${exchange.tradeVolume24hBtc} + ' BTC'"></td>
                <td>
                    <a th:href="${exchange.url}" th:text="'Visit ' + ${exchange.name}"></a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>

</body>
</html>
